.faqs {
    min-height: 500px;
}

.faqs h2 {
    text-align: center;
    margin-top: 20px;
}

.faqs__container {
    position: relative;
    width: 600px;
}

.faqs__out-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 50px;
}

.faqs__btn img {
    margin-right: 10px;
    transform: rotate(-90deg);
    transition: all 0.2s ease-in-out;
}

.faqs__btn:hover>img {
    transform: rotate(0deg);
}

.faqs__btn:hover {
    color: blue;
}

.faqs__accordion-content {
    border-bottom: 1px solid grey;
}

.faqs__accordion-content p {
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.faqs__accordion-expand {
    margin-top: 10%;
}

@media (max-width: 700px) {
    .faqs__container {
        width: 350px;
    }

    .faqs__btn {
        height: 70px;
    }

    .faqs__accordion-expand {
        margin-top: 20%;
    }
}