.main-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/02-landing-bg.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #464646;
    position: relative;
}

.main-section::after {
    content: '';
    background: black;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
}

.main-section .main-section-content {
    width: 520px;
    z-index: 1;
}

.main-section .main-section-content h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.main-section .main-section-content p {
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 10px black;
    position: relative;
    z-index: 1;
}

@media (max-width: 700px) {
    .main-section .main-section-content {
        width: 260px;
    }

    .main-section .main-section-content h1 {
        margin-top: 90px;
    }
}

.main-section h1 span {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(10px);
    display: inline-block;
}

.main-section h1 .fade {
    opacity: 1;
    transform: translateY(0px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    background: #F0F0F0;
    border-radius: 5px;
    box-shadow: 1px 1px 50px black;
    z-index: 1;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

form .form-group input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
}

form .btn-form {
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 90px;
    width: 200px;
    height: 50px;
    background: #4a47a3;
    box-shadow: 1px 1px 10px black;
    transition: all 0.4s ease-in-out;
}

form .btn-form:hover {
    background: #a7c5eb;
    color: black;
    transform: scale(1.01);
}

@media (max-width: 1400px) {
    form {
        width: 300px;
        height: 450px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    form .form-group input {
        width: 250px;
    }

    form .btn-form {
        margin-top: 40px;
    }
}

.middle-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 100vh;
    background: white;
}

.middle-section img {
    width: 400px;
    height: 500px;
}

@media (max-width: 1400px) {
    .middle-section img {
        width: 300px;
        height: 400px;
    }
}

.keep-track {
    width: 30%;
}

.keep-track h2 {
    font-size: 2.5rem;
}

.keep-track p {
    margin-top: 20px;
}

@media (max-width: 700px) {
    .keep-track {
        width: 70%;
        margin: 30px;
    }
}

.advice-section {
    width: 100vw;
    background: #F0F0F0;
    padding: 50px 0;
}

.advice-section .advice-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.advice-section .advice-card .advice-text {
    width: 30%;
}

.advice-section .advice-card .advice-text h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.advice-section .advice-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

@media (max-width: 700px) {
    .advice-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    .advice-section .advice-card .advice-text {
        width: 70%;
        margin-right: 50px;
    }
}

.new-section {
    width: 100vw;
    height: 100vh;
}