* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
}


.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: all 0.2s ease-in-out;
}

.my-float {
    margin-top: 16px;
}

.float:hover {
    transform: scale(1.07);
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/02-landing-bg.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #464646;
    position: relative;
}

.main-section::after {
    content: '';
    background: black;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
}

.main-section .main-section-content {
    width: 580px;
    z-index: 1;
}

.main-section .main-section-content h1 {
    margin-left: 80px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.main-section .main-section-content p {
    margin-left: 80px;
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 10px black;
    position: relative;
    z-index: 1;
}

@media (max-width: 700px) {
    .main-section .main-section-content {
        margin-right: 50px;
    }

    .main-section .main-section-content h1 {
        margin-top: 90px;
    }
}

.main-section h1 span {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(10px);
    display: inline-block;
}

.main-section h1 .fade {
    opacity: 1;
    transform: translateY(0px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    background: #F0F0F0;
    border-radius: 8px;
    box-shadow: 1px 1px 50px black;
    z-index: 1;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

form .form-group input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;
}

form .btn-form {
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 90px;
    width: 200px;
    height: 50px;
    background: #4a47a3;
    box-shadow: 1px 1px 10px black;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 1400px) {
    form {
        width: 300px;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    form .form-group input {
        width: 250px;
    }

    form .btn-form {
        margin-top: 10px;
    }
}

form .btn-form:hover {
    background: #a7c5eb;
    color: black;
    transform: scale(1.01);
}

.middle-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 100vh;
    background: white;
}

.middle-section img {
    width: 400px;
    height: 500px;
}

.keep-track {
    width: 30%;
}

@media (max-width: 700px) {
    .keep-track {
        width: 70%;
        margin: 30px;
    }
}

.keep-track h1 {
    font-size: 40px;
}

.keep-track p {
    margin-top: 20px;
}

.advice-section {
    width: 100vw;
    padding: 90px;
    background: #F0F0F0;
}

@media (max-width: 700px) {
    .advice-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }
}

.advice-section .advice-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

.advice-section .advice-card .advice-text {
    width: 30%;
}

@media (max-width: 700px) {
    .advice-section .advice-card .advice-text {
        width: 70%;
        margin-right: 50px;
    }
}

.advice-section .advice-card .advice-text h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.advice-section .advice-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.new-section {
    width: 100vw;
    height: 100vh;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 200px;
    background: #4a47a3;
}

.footer .footer-company-image {
    display: flex;
    align-items: center;
}

.footer .footer-company-image .clean-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.footer .footer-company-image .clean-icon img {
    width: 30px;
    height: 30px;
}

.footer .bottom-footer-link {
    color: white;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #a7c5eb;
}

.footer ul li:hover {
    background: #413c69;
}

.footer ul li a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 700px) {
    .footer ul li a {
        font-size: 15px;
    }
}

.footer ul li a img {
    padding: 10px;
}