.services-section {
    width: 100vw;
    background: #F0F0F0;
}

.service-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.service-card-text {
    width: 40%;
}

.service-card-text h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.service-card img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

@media (max-width: 700px) {
    .services-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }

    .service-card-text {
        width: 70%;
    }
}