.testimonials-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 400px;
    position: relative;
    background-image: url('../images/02-landing-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonials-section::after {
    content: '';
    background: black;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
}

.testimonials-section .testimonials-carousel {
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 645px;
    padding: 10px;
    z-index: 1;
}

.testimonials-section .testimonials-carousel .carousel-slider {
    display: flex;
}

.testimonials-section .testimonials-carousel .testimonials-carousel-card {
    flex: none;
    background: white;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 230px;
    margin: 10px;
    padding: 10px;
}

.testimonials-section .testimonials-carousel .testimonials-carousel-card p {
    font-size: 13px;
}

.testimonials-section .testimonials-carousel .testimonials-carousel-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 1px solid hsla(0, 0%, 100%, 0.4);
    transition: all 0.2s ease-in-out;
    z-index: 1;

}

.testimonials-btn:hover {
    border: 1px solid white;
}

@media (max-width: 540px) {
    .testimonials-btn {
        display: none;
    }

    .testimonials-section .testimonials-carousel {
        width: 320px;
        overflow-x: scroll;
    }
}